*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 100% is 16px, if user changes browser font-size than divide your wanted size by 16px. the resulting percentage will be used! */
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}